.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.profile_box{
  margin-top: 200px;
  background-image: linear-gradient(to top, rgba(155, 51, 51, 0), rgb(217, 98, 221));
  text-align: center;
  background-color: #6e54dd;
}

.btn_box{
  
  background-color: rgba(223, 138, 68, 0.5);
  text-align: center;
  margin-top: 250px;
  
}


.btn_p{
  width: 100%;
  border-radius: 50%;
  background-color: #04AA6D;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  
}

.img1{
  height: 200px;
  width: 300px;
  
}

/*shifting app.js styles here */

.logo{
  width:100%;
  height: 350px;
  box-shadow: 0px 0px 30px 0px rgba(97, 109, 175, 0.699);
  border-color: #6e54dd;

}

.dashboard_content{
  text-align: center;
  

}

.dash_btns{
  width: 100%;
  border-radius: 50px;
  font-size: 30px;
}

.dash_text{
  font-family:'Times New Roman', Times, serif;
}
